//colors
$white: #FFFFFF;
$black: #5f2a2b;
$pink: #ef4c80;
$orange: #f47f33;
$blue: #66cbda;
$lightpink: #f37a9f;
$lightorange: #f79e65;
$lightblue: #8ed7e3;

//font size
$font-size: 34px;
$bold: 700;

//sizing
$color-bar: 30px;
$li-height: ($font-size * 4 );

//images
$opacity: 0.6;